<% provide(:title, "About Me") %>

<h1>About Me</h1>

<h3>Student Name & Number: Faisal Maqsood, 2847484</h2>

	<h3>Programming Skills</h3>
	<ul>
		<li>Java</li>
		<li>Php</li>
		<li>Python</li>
		<li>Rails</li>
		<li>JavaScript</li>
		<li>JQuery</li>
		<li>C++</li>
	</ul>

	

	<h3>List of subjects I am studying in college</h3>
	<ul>
		<li>Cloud Services & Platforms BSCH-CSP</li>
		<li>Web Frameworks BSCH-WF</li>
		<li>Distributed Systems BSCH-DS</li>
		<li>Emerging Technologies BSCH-ET</li>
	</ul>

	<h3>Hobbies & Interest</h3>
	<ul>
		<li>Swimming</li>
		<li>Bedminton</li>
		<li>Coding</li>
		<li>Problem Solving</li>
		<li>Forensic</li>
	</ul>
	
	<h3>Contact information</h3>
	<ul>
		<li>Phone: 0867807436</li>
		<li>email: faisalmaqsood1@hotmail.com</li>
	</ul>