<footer class="footer">
      
  <small>
    Assignment2_FaisalMaqsood_2847484
  </small>
  
  <nav>
    
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
    
  </nav>
  
</footer>