  <footer class="footer">
      <small>
          Assignment2 by <a href="https://www.linkedin.com/in/faisal-maqsood-31a9b41a/">Faisal Maqsood</a>
          Student Number 2847484
      </small>
        <%= link_to "assignment1", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "About",   about_path %></li>
            <li><%= link_to "Contact",   contact_path %></li>
            <li><a href="https://www.linkedin.com/in/faisal-maqsood-31a9b41a/">Linkedin</a></li>
          </ul>
        </nav>
      </div>
    </footer>